<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Edit Book</h1>
    <div class="col-6 offset-3">
        
        <form action="/livro/<%= book.isbn %>?_method=PUT" method="POST">
            <div class="mb-3">
                <label class="form-label" for="isbn">ISBN</label>
                <input class="form-control" type="text" name="isbn" id="isbn" required value="<%= book.isbn %>">
            </div>

            <div class="mb-3">
                <label class="form-label" for="titulo">Titulo do livro</label>
                <input class="form-control" type="text" name="titulo" id="titulo" required value="<%= book.titulo %>">
            </div>

            <div class="mb-3">
                <label class="form-label" for="idioma">Idioma</label>
                <input class="form-control" type="text" name="idioma" id="idioma" required value="<%= book.idioma%>">
            </div>

            <div class="mb-3">
                <label class="form-label" for="descricao">descricao</label>
                <input class="form-control" type="text" name="descricao" id="descricao" required value="<%= book.descricao %>">
            </div>

            <div class="mb-3">
                <label class="form-label" for="preco">Preco</label>
                <input class="form-control" type="number" name="preco" id="preco" required value="<%= book.preco %>">
            </div>

            <div class="mb-3">
                <label class="form-label" for="quantidade">Quantidade</label>
                <input class="form-control" type="number" name="quantidade" id="quantidade" required value="<%= book.quantidade%>">
            </div>

            <div class="mb-3">
                <label class="form-label" for="id_editora">ID Editora</label>
                <input class="form-control" type="number" name="id_editora" id="id_editora" required value="<%= book.id_editora%>">
            </div>
           
            <div class="mb-3">
                <button class="btn btn-success">Edit Book</button>
            </div>
        </form>

        <a class="btn btn-danger" href="/livros">Cancel</a>

    </div>
</div>