<% layout('layouts/boilerplate') %>

<div class="card mb-3 d-flex flex-column">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" src="https://picsum.photos/200/300" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title mb-3"> <%= book.titulo %> </h2>
                <p class="card-text">
                    <small class="text-muted"> <%= book.descricao %> </small>
                </p>
                <p class="card-text"> <%= book.autor %> </p>
                <p class="card-text"> <%= book.idioma %> </p>

                
                <p class="card-text">
                    <small class="text-muted">ISBN: <%= book.isbn %> </small>
                </p>

                <h5 class="card-text"> $<%= book.preco %> </h5>
            </div>
        </div>
    </div>
</div>

<h4>Livros restantes no estoque: <%= book.quantidade %> </h4>
        
<div class="d-flex justify-content-center">
    <form action="/pedidos" method="POST">
        <div class="row">
            
          <div class="col-5">
            <input class="form-control" type="number" name="quantidade" id="quantidade" placeholder="Quantidade">
            <input type="hidden" name="isbn" value="<%= book.isbn %>">
          </div>

          <div class="col-7">
            <button class="btn btn-success mb-2">Order book</button>
          </div>

        </div>
    </form>
</div>

<form class="d-inline" action="/books/<%=book.isbn%>?_method=DELETE" method="POST">
    <button class="btn btn-danger">Delete</button>
</form>