<% layout('layouts/boilerplate') %>

<!-- function testFunction(bookType) {
    if bookType == 2 {
        document.getElementById("age").disabled = true;
    }
} -->

<div class="card mb-3 d-flex flex-column">
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" src="<%= book.capa %> " alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h2 class="card-title mb-3">Titulo: <%= book.titulo %> </h2>

                <p class="card-text">
                    <small class="text-muted"><%= book.descricao %> </small>
                </p>
                
                <h4>Autores:</h4>
                <% for(let nome of autores) { %>
                    <p><%= nome.autor %> </p>
                <% } %>

                <br>
                
                <h5 class="card-text">Idioma:</h5>
                <p class="card-text"><%= book.idioma %> </p>
                
                <br>

                <h5 class="card-text">Editora:</h5>
                <p class="card-text"><%= editora.nome_editora %> </p>

                <br>

                <p class="card-text">
                    <small class="text-muted">ISBN: <%= book.isbn %> </small>
                </p>
                
                <br>

                <h5 class="card-text">Preco: </h5>
                <h5 class="card-text">$<%= book.preco %> </h5>
            </div>
        </div>
    </div>
</div>

<h4>Livros restantes no estoque: <%= book.quantidade %> </h4>
        
<div class="d-flex justify-content-center">
    <form action="/pedidos" class="needs-validation" method="POST" id="myForm" onsubmit="event.preventDefault(); validateMyForm(<%= book.quantidade %>);">
        <div class="row">

            <div class="col-5">
                <input type="hidden" name="isbn" value="<%= book.isbn %>">
                <input class="form-control" type="number" name="quantidade" id="quantidade" placeholder="Quantidade" required min="1">
            </div>
        
            <div class="col-7">
                <button class="btn btn-success mb-2" type="submit">Comprar</button>
            </div>
            

            <!-- TROCAR ESSAS FUNCOES POR UM SCRIPT DESCENTE! -->

            <% if (bookType == 1) { %>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="1" checked>
                    <label class="form-check-label" for="flexRadioDefault1"> Livro Digital </label>
                </div>
            <% } else if (bookType == 2) { %>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="2" checked>
                    <label class="form-check-label" for="flexRadioDefault2"> Livro Fisico </label>
                </div>
            <% } else {%> 
                <div class="">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="1">
                        <label class="form-check-label" for="flexRadioDefault1"> Livro Digital </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="2">
                        <label class="form-check-label" for="flexRadioDefault2"> Livro Fisico </label>
                    </div>
                </div>
            <% } %> 
            <!-- TROCAR ESSAS FUNCOES POR UM SCRIPT DESCENTE! -->

        </div>
    </form>
</div>

<div class="mb-3">
    <a href="/livro/<%= book.isbn %>/edit " class="card-link btn btn-primary">Editar</a>

    <form class="d-inline" action="/livro/<%=book.isbn%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Deletar</button>
    </form>
</div>

<script>

    function validateMyForm(quantidadeLivros) {

        var qtd = document.getElementById("quantidade").value;
        qtd = quantidadeLivros - qtd;

        let option = document.querySelector('input[name="flexRadioDefault"]:checked').value;

        console.log(option);

        if (qtd < 0 && option == 2){
            alert("Sem mais livros no estoque!");
            return false;
        }

        document.getElementById("myForm").submit();
        return true;
    }
</script>