<% layout('layouts/boilerplate') %>

<h1>Order ID: TAL ID</h1>

<div class="card mb-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                
                <h5 class="card-title">Email de compra: <%= order.email%> </h5>
                <p class="card-text">Codigo ISBN do livro comprado: <%= order.isbn %> </p>
                <p class="card-text">Valor total: $<%= order.valor_total %> </p>
                <p class="card-text">Quantidade: <%= order.quantidade %> </p>
                <p class="card-text">Situacao do pagamento: <%= order.situacao %> </p>
                
                <a href="/pedido/<%= order.cod_pedido%>/pagamento" class="btn btn-success">Realizar Pagamento</a>
            </div>
        </div>
    </div>
</div>